@model IEnumerable<ExcellentTaste.Models.Product>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.FirstOrDefault().Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>
                        @*TODO: Create button/link to add new item to the Order*@
                        <button class="btn btn-primary" onclick="AddItem(@product.Id)">@product.Name</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
