@model IEnumerable<ExcellentTaste.Models.Product>
    <div class="product-grid">
        @foreach (var product in Model)
        {
            <button class="btn btn-primary" onclick="AddItem(@product.Id)">@product.Name</button>
        }
    </div>