@page
@model ExcellentTaste.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.StartTime" class="control-label"></label>
                <input asp-for="Order.StartTime" class="form-control" />
                <span asp-validation-for="Order.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Items" class="control-label"></label>
                <partial name="OrderItems/_ItemList" model="Model.Order.Items"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <partial name="OrderItems/_CategorySelection" model="Model.Categories" />
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
